<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Formation Tool</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<form action="{{ url_for('controller.login') }}" method="post" name="login_form">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="password" name="password">
    <input type="text" placeholder="security_question" name="security_question">
    <input type="submit" name="Submit">
</form>
<label>{{ message }}</label>
</body>
</html>